
*.xcworkspacedata

*.xcuserstate

*.xcscheme



*.xcsettings

.DS_Store

*.xcbkptlist

richchatdemo.xcodeproj/xcuserdata/jiawang.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

*.xcbkptlist

*.xcbkptlist
